---
permalink: /
title: Dania Decoraciones
layout: default
description: Lolasdfsdfsdfsdf
backgroundImage : "/assets/img/Bouquet.jpg"

---

<section >

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">

              {% for item in site.data.carrousel %}
              
              <div class="carousel-item {% if forloop.first==true%} active {%endif%}">
                
                <div class="imagenes">
                    <img src="{{item.url}}" class="d-block w-100" alt="caption">
                </div>
                
              </div>

              {% endfor %}
             
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
 
</section>

<section class="padding-section services">
    <div class="container ">

        <h2 class="text-uppercase text-center pb-3">servicios</h2>
        <div class="d-flex row justify-content-center gap-5 ">

            {% for service in site.data.services %}
            <div class=" col-12 col-md-3 text-center d-flex justify-content-center ">
                <div class="col-8 col-md-12 d-flex flex-column ">
                    <div class="pb-4 content-image">
                        <img class="img-services rounded-3 "  src="{{service.img}}" alt="{{service.img}}" width="100%" height="250px">
                    </div>
                    <div>
                        <p> 
                            {{service.caption}}
                        </p>
                    </div>
                </div>
                
            </div>
            {%endfor%}

            
            
            
        </div>
    </div>
</section>

<section class="padding-section wavy">
    <div class="container">
        <h2 class="text-uppercase text-center pb-3">HORARIO DE ATENCIÓN</h2>
     
        <div class=" d-flex  flex-column flex-md-row gap-5 justify-content-center">

            {% for item in site.data.horarios %}
            <div class="d-flex  flex-column text-center  gap-2">
                <div class="d-flex justify-content-center">
                    <div class="days py-3 px-3  rounded-5 text-center "> 
                        <h3 >{{item.days}}</h3>
                    </div>
                </div>

                    <p class=" fs-4 m-0">{{item.from}}</p>
            
                    <p  class=" fs-4">{{item.to}}</p>

            </div>
            {%endfor%}

    </div>

</section>