<section class="bg-black ">
    <div class="bg-black container d-flex justify-content-center text-center justify-content-lg-start text-lg-start">
        <div class="tittle py-5">
            <h2 class="text-uppercase">
                Contáctenos
            </h2>
            <div class="contact">
                <div>
                    <i class="fa-solid fa-mobile fa-2x"></i>
                </div>
                <div class="separation">
                    +57 3116331753 - 3104667138 - 3145092314
                </div>
            </div>
            <div class="contact">
                <div>
                    <i class="fa-regular fa-envelope fa-2x"></i>
                </div>
                <div class="separation">
                    <a class="text-decoration-none text-white" href="mailto:daniadecoraciones_73@outlook.com">daniadecoraciones_73@outlook.com</a>
                </div>
            </div>

            <div class="contact d-flex align-content-center justify-content-center justify-content-lg-start">
                <h5 class="m-0 d-flex pt-1 ">
                    REDES SOCIALES
                </h5>
                <div class="icons-social">
                    <i class="fa-brands fa-instagram fa-2x"></i>
                </div>
                <div class="icons-social">
                    <i class="fa-brands fa-facebook fa-2x"></i>
                </div>
                <div>

                </div>
            </div>

        </div>
        
    </div>
</section>