<footer>
    <div class="footer-1">
        <div class="tittle">
            <span>
                CONTACTENOS
            </span>
            <div class="contact">
                <div>
                    <i class="fa-solid fa-mobile fa-2x"></i>
                </div>
                <div class="separation">
                    +57 3116331753 - 3104667138 - 3145092314
                </div>
            </div>
            <div class="contact">
                <div>
                    <i class="fa-regular fa-envelope fa-2x"></i>
                </div>
                <div class="separation">
                    <a class="text-decoration-none text-white" href="mailto:daniadecoraciones_73@outlook.com">daniadecoraciones_73@outlook.com</a>
                </div>
            </div>

            <div class="contact">
                <span>
                    REDES SOCIALES
                </span>
                <div class="icons-social">
                    <i class="fa-brands fa-instagram fa-2x" ></i>
                </div>
                <div class="icons-social">
                    <i class="fa-brands fa-facebook fa-2x"></i>
                </div>
                <div>

                </div>
            </div>

        </div>
        
    </div>
</footer>